body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
  height: 100vh;
  background-color: darkcyan;
  font-family: 'Fredericka the Great', serif;
}

.hangman {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 50px;
}

.word {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.letters {
  font-size: 100px;
}
