body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20pxpx;
  height: 100vh;
  background-color: rgb(61, 62, 62);
  color: azure;
  font-family: 'Fredericka the Great', serif;
}

.user-input {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
  height: 30vh;
}

.difficulty {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 10px;
  height: 10vh;
  margin-bottom: 10vh;
}

.difficulty > h1 {
  display: block;
}

.difficulties {
  background-color: rgb(61, 62, 62);
  border: 2px solid azure;
  border-radius: 5px;
  color: azure;
  font-family: 'Fredericka the Great', serif;
  font-size: larger;
  height: 10vh;
  width: 20vh;
}

.difficulties:hover {
  background-color: azure;
  border: 2px solid azure;
  color: rgb(61, 62, 62);
  font-weight: bold;
}

#username {
  width: 40vh;
  height: 5vh;
  background-color: rgb(61, 62, 62);
  border: 2px solid azure;
  border-radius: 5px;
  color: white;
  font-family: 'Fredericka the Great', serif;
}

::placeholder {
  color: azure;
  text-align: center;
}

#start {
  display: block;
  background-color: azure;
  border: 2px solid rgb(61, 62, 62);
  border-radius: 5px;
  color: rgb(61, 62, 62);
  font-family: 'Fredericka the Great', serif;
  font-size: larger;
  font-weight: bold;
  height: 10vh;
  width: 20vh;
}
