body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(61, 62, 62);
  background: url('https://www.shutterstock.com/image-photo/clean-chalk-board-surface-600nw-175145000.jpg');
  background-size: cover;
  color: azure;
  font-family: 'Fredericka the Great', serif;
}

#home {
  background-color: azure;
  border: 2px solid azure;
  border-radius: 5px;
  color: rgb(61, 62, 62);
  font-family: 'Fredericka the Great', serif;
  font-size: larger;
  font-weight: bold;
  width: 20vh;
}

table {
  justify-content: center;
}

td {
  text-align: center;
  padding: 3vh;
}

.scoreboard {
  width: 100vh;
}
